.mainbrd_login {
  position: relative;   /* <--- Wichtig! */
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 10px;
  margin: 5px;
  background-color: #fff;
}
#login-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
    width: 320px;
    text-align: center;
 }
 #login-box h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
 }
 #login-box input[type="text"],
 #login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 1em;
    box-sizing: border-box;
 }
 #login-box button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #99bb26;
    color: white;
    font-size: 1em;
    cursor: pointer;
 }
 #login-box button:hover {
    background-color: #b1da2d;
 }